{% extends 'base/base.html' %}

{% block title %}Add Buyer{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Buyers</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    {% if messages %}
    {% for message in messages %}
    
<div class="alert alert-danger" role="alert">
<div style="display:flex;justify-content: space-between;"><div> An User with this UserName already Exists</div>  <div><a href="{% url 'create-buyer' %}" style="text-decoration: none;" > X </a></div> </div>
</div>

  {% endfor %}
    {% endif %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Buyer</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label mb-1">Address</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label mb-1">Email Address</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label mb-1">Username</label>
                                {{ form.username }}
                            </div>
                           
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                                    <span id="payment-button-amount">Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
<script>

    let ele = document.querySelectorAll('.buyer-req');
    ele.forEach( (e) => {
      e.required = true;
    })

  </script>
{% endblock content %}