<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="https://fonts.cdnfonts.com/css/agency-fb" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invoice orderID_1 </title>
</head>

<style>

    *{
        font-family: 'Agency FB', sans-serif;
    }

    .heading{
        background-color: brown;
        width:100%;
        display:block;
        padding-left:2rem;
        font-family: 'Agency FB', sans-serif;
        padding-top:3rem;
    }

    .headingContent{
        font-size:5rem;
        color:white;
        font-family: 'Agency FB', sans-serif;
    }
    .tableDetails{
        padding-top:5px;
    }

</style>

<body>
    <div class=heading>
        <div class="headingContent" >Invoice </div>
    </div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><img src="logo.png" width="150"  /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td width="49%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      
          <tr>
            <td style="font-weight:300; font-size:20px;">Order Number: 1</td>
          </tr>
          <tr>
            <td> Payment made with : Card </td>
          </tr>
          <tr>
            <td> Holder Name : Card 1</td>
          </tr>
          
          </table></td>
      </tr>
    </table></td>
    <td width="51%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right"><img src="logo.png" alt="" width="150"  /></td>
      </tr>
      <tr>
        <td style="font-weight:300; font-size:13px;" align="right"></td>
      </tr>
      <tr>
        <td style="font-weight:300; font-size:13px;"  align="right">&nbsp;</td>
      </tr>
      <tr>
        <td style="font-weight:300; font-size:13px;"  align="right">Order Date : Sept. 13, 2023</td>
      </tr>
      <tr>
        <td style="font-weight:600; font-size:15px;" align="right">Customer Name</td>
      </tr>
      <tr>
        <td style="font-weight:300; font-size:13px;" align="right">Harsh Parashar</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" width="10%" height="32" align="center">Sr No.</td>
        <td style="font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" width="34%" height="32" align="center">Product</td>
        <td style="font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" width="30%" align="center">Price </td>
        <td style="font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" width="30%" align="center">Amount</td>
        <td style="font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" width="30%" align="center">Total</td>
      </tr>
      
      <tr>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">1</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">Moongadi</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">145.00</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">1</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">145.0</td>
      </tr>
      
      <tr>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">2</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">Sambar Masala</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">110.00</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">1</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">110.0</td>
      </tr>
      
      <tr>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">3</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">Rasam Masala</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">110.00</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">1</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">110.0</td>
      </tr>
      
      <tr>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">4</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" class="tableDetails" height="32" align="center">spicy pudina</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">30.00</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">1</td>
        <td style="font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;" class="tableDetails" align="center">30.0</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr> 
  <tr>
    <td align=right colspan="2" style="font-size:15px;padding-right:5px">Grand Total : 395.0</td>
  </tr>
  
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:16px">Summary:</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:12px">Order ID : 1</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:12px">Order Date : Sept. 13, 2023</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:12px">Buyer ID/Name : 1 / Harsh Parashar</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:12px">Total number of Items : 4</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:12px">Grand Total : 395.0</td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:12px">  Payment Id : 1</td>
  </tr>


  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-weight:600; font-size:13px;" colspan="2">Thank you for using our service</td>
  </tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-weight:300; font-size:13px;" colspan="2" align="center">(This is computer generated receipt and does not require physical signature.) </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>




</body>
</html>