{% extends 'base/base.html' %}
{% load static %}
{% block title %}Order List{% endblock title %}

{% block breadcrumbs %}


<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>PROFILE</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header" >
                    <div class="page-title">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
        <style>
            body{
                margin-top:20px;
                color: #1a202c;
                text-align: left;
                background-color: #e2e8f0;    
            }
            .main-body {
                padding: 15px;
            }
            .card {
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            }
            
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 0 solid rgba(0,0,0,.125);
                border-radius: .25rem;
            }
            
            .card-body {
                flex: 1 1 auto;
                min-height: 1px;
                padding: 1rem;
            }
            
            .gutters-sm {
                margin-right: -8px;
                margin-left: -8px;
            }
            
            .gutters-sm>.col, .gutters-sm>[class*=col-] {
                padding-right: 8px;
                padding-left: 8px;
            }
            .mb-3, .my-3 {
                margin-bottom: 1rem!important;
            }
            
            .bg-gray-300 {
                background-color: #e2e8f0;
            }
            .h-100 {
                height: 100%!important;
            }
            .shadow-none {
                box-shadow: none!important;
            }
        </style>
        
        <div class="container">
            <div class="main-body">
            
                  <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="{% static '/images/Diablo_tensura_crop.png' %}" alt="Admin" class="rounded-circle" width="150" height="150" style="object-fit:cover;" >

                            <div class="mt-3">
                              <h4>{{ user.username }}</h4>
                              <p class="text-secondary mb-1">
                                {% if user.is_staff %}
                                Admin
                            {% else %}
                                Normal User
                            {% endif %}

                              </p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0" style="color:#eb3434">Summary</h5>
                            <span class="text-secondary"></span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Products</h6>
                            <span class="text-secondary">{{product}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Orders</h6>
                            <span class="text-secondary">{{orders}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Sales</h6>
                            <span class="text-secondary">{{sales}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Buyers</h6>
                            <span class="text-secondary">{{buyers}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card mb-3">
                        <div class="card-body">
                            <form class="mx-1 mx-md-4" action="#" method="post" novalidate="novalidate">
                                {% csrf_token %}
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{form.first_name}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{form.last_name}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{form.email}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Company</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{form.company}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{form.address}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </form>
                          </div>
                        </div>
                      </div>
        
        
        
                    </div>
                  </div>
        
                </div>
            </div>
    <script>        


        let first = document.querySelector('.js_add_first');
        first.setAttribute('value',"{{user.first_name}}");
        let last = document.querySelector('.js_add_last').setAttribute('value',"{{user.last_name}}");
        let email_E = document.querySelector('.js_add_email').setAttribute('value',"{{user.email}}");
        let company_E = document.querySelector('.js_add_company').setAttribute('value',"{{user.company}}");
        let address_E = document.querySelector('.js_add_address').setAttribute('value',"{{user.address}}");


    </script>        
        
{% endblock content %} 